.accounts {
  position: absolute;
  top: 60px;
  right: 10px;
  background: var(--main-color-2);
  border-radius: 6px;
  box-shadow: 0 12px 28px 0 rgba(0,0,0,.2),0 2px 4px 0 rgba(0,0,0,.1),inset 0 0 0 1px rgba(0,0,0,.2);
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transition: .3s all;
  &.active {
    opacity: 1;
    pointer-events: all;
  }
  h1 {
    margin: 0;
  }
  hr {
    opacity: .3;
  }
  .list {
    padding: 5px;
    p {
      font-weight: normal;
    }
    .photo {
      margin-right: 10px;
      border-radius: 100px;
    }
  }
}
