<section class="accounts content-box" [class.active]="show">
  <ul class="list">
    <li class="item" [routerLink]="['/lucasferreiralimax']" (click)="actionAccounts.emit(false)">
      <img class="photo" src="./assets/2L-icon-60.jpg" alt="Lucas Ferreira Lima">
      <div>
        <strong>Lucas Ferreira Lima</strong>
        <p>Veja seu perfil</p>
      </div>
    </li>
    <hr>
    <li class="item" [routerLink]="['/feedback']">
      <div class="icon-content plus">
        <i class="icon feedback"></i>
      </div>
      <div>
        <strong>Dar feedback</strong>
        <p>Ajude-nos a melhorar o novo Facebook.</p>
      </div>
    </li>
    <hr>
    <li class="item" [routerLink]="['/settings']">
      <div class="icon-content plus">
        <i class="icon settings"></i>
      </div>
      Configurações e privacidade</li>
    <li class="item" [routerLink]="['/help']">
      <div class="icon-content plus">
        <i class="icon help"></i>
      </div>
      Ajuda e suporte
    </li>
    <li class="item" [routerLink]="['/preferences']">
      <div class="icon-content plus">
        <i class="icon preferences"></i>
      </div>
      Preferências de exibição
    </li>
    <li class="item" (click)="loginLoggout()" role="button" aria-label="Logout">
      <div class="icon-content plus">
        <i class="icon logout"></i>
      </div>
      Sair
    </li>
  </ul>
  <app-footer></app-footer>
</section>
