.feed {
  display: flex;
  margin: 0 auto;
  max-width: 1464px;
}

.aside {
  display: block;
  min-width: 300px;
  max-width: 320px;
  position: fixed;
  left: 0;
  overflow-y: auto;
}

.complentary {
  min-width: 320px;
  position: fixed;
  right: 0;
  overflow-y: auto;
}

.main {
  box-sizing: border-box;
  padding-top: 20px;
  width: 100%;
  &.true-aside { margin-left: 320px; }
  &.true-complementary { margin-right: 320px; }
}
