.feed {
  display: flex;
  margin: 0 auto;
  max-width: 1464px;
}

.aside {
  display: block;
  max-width: 360px;
}

.complentary { min-width: 360px; }

.main {
  box-sizing: border-box;
  padding-top: 20px;
  width: 100%;
}
