<section class="profile">
  <div class="profile-header">
    <div class="content">
      <img class="photo" src="./assets/skywalker.jpg" alt="Lucas Ferreira Lima" width="350">
      <h1>Lucas Ferreira Lima</h1>
      <p>Fé</p>
    </div>
  </div>
  <div class="timeline">
    <div class="aside">
      <app-presentation></app-presentation>
      <app-footer></app-footer>
    </div>
    <div class="content">
      <app-post [user]="user" (updateFeed)="getFeed()"></app-post>
      <app-feed-list [user]="user" [feed]="feed"></app-feed-list>
    </div>
  </div>
</section>
