@import '_mixins';

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.profile-header {
  background: linear-gradient(to top, rgba(#fff, .2), rgba(#000, .3));
  box-shadow: 0 2px rgba(#fff, .3), 0 1px rgba(#000, .2), 0 2px 10px rgba(#000, .2);
  margin-bottom: 40px;
  width: 100%;
  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 100%;
    max-width: 892px;
    padding-top: 140px;
  }
  h1 {
    font-size: 31px;
    margin-bottom: 0;
    padding: 0 10px;
    text-align: center;
    z-index: 1;
  }
  .cover {
    border-radius: 0px 0px max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 0px 0px 8px 8px;
    position: absolute;
    width: calc(100% - 20px);
    max-width: 892px;
    margin: 0 auto;
    top: -65px;
    z-index: 0;
    @include break('max-width: 880px') {
      top: 0;
    }
  }
  .photo {
    border-radius: 270px;
    border: 2px solid #fff;
    box-shadow: 0 0 0 10px rgba(#000, .2);
    cursor: crosshair;
    transition: .5s all;
    z-index: 1;
    @include break('max-width: 500px') {
      margin: 0 auto;
      width: calc(100% - 50px);
    }
    &:hover {
      box-shadow: 0 0 0 5px rgba(#000, .2), 0 0 5px 15px rgba(#000, .1);
      filter: hue-rotate(80deg) brightness(1.2) contrast(1.2) saturate(15);
    }
  }
}

.timeline {
  width: 100%;
  max-width: 892px;
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  @include break('min-width: 880px') {
    flex-direction: row;
  }
  .aside {
    width: 100%;
    margin: 0 auto 1em;
    width: calc(100% - 20px);
    max-width: 680px;
    @include break('min-width: 880px') {
      max-width: 360px;
      min-width: 360px;
    }
  }
  .content {
    width: 100%;
  }
}
