.container-login {
  padding: 72px 0 112px;
  background: var(--main-color-3);
}

.content-login {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  .header {
    text-align: left;
  }
  .logo-facebook {
    margin: -28px;
  }
}

@media only screen and (max-width: 900px) {
  .container-login {
    padding: 20px 0 50px;
  }
  .content-login {
    flex-direction: column;
    text-align: center;
    .header {
      text-align: center;
    }
    .dark-mode {
      display: flex;
      justify-content: center;
    }
  }
}

.header h2 {
  font-weight: normal;
  margin-bottom: 0;
  padding-bottom: 40px;
  font-size: 28px;
  line-height: 32px;
  width: 500px;
  @media only screen and (max-width: 1075px) {
    font-size: 24px;
    line-height: 28px;
    width: auto;
  }
}

.header-max-width {
  max-width: 400px;
  margin: 0 auto;
}

.login {
  align-items: center;
  background-color: var(--main-color-2);
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
  box-sizing: border-box;
  margin: 0 auto;
  padding: 20px 20px 28px;
  max-width: 396px;
  width: 100%;
  @media only screen and (min-width: 900px) {
    margin-top: 50px;
  }
  input {
    width: 100%;
    box-sizing: border-box;
    margin: 6px 0;
  }
  .enter,
  .account {
    margin: 6px 0 0;
  }
  .remember {
    margin-top: 16px;
    display: inline-block;
  }
  hr {
    margin: 20px 16px;
    opacity: .5;
  }
}

.create-page {
  font-size: 14px;
  margin-top: 28px;
}

.footer {
  color: var(--main-color-5);
  font-size: 12px;
  max-width: 980px;
  margin: 0 auto;
  @media only screen and (max-width: 1075px) {
    margin: 0 40px;
  }
  margin-top: 10px;
  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  li {
    display: inline-block;
    padding-right: 10px;
    line-height: 25px;
    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }
  .copyright {
    width: 100%;
    p {
      font-size: 11px;
      margin-right: 10px;
    }
  }
}
