.header {
  background: var(--main-color-2);
  box-shadow: 0 4px 4px rgba(0,0,0, .2);
  padding: 6px 16px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  .right {
    margin-left: auto;
    display: flex;
    align-items: center;
  }
}

.nav-button {
  border-radius: 100px;
  border: 0;
  background: rgba(0,0,0, .1);
  min-width: 40px;
  height: 40px;
  font-size: 0;
  margin-left: 8px;
  cursor: pointer;
  &:hover {
    background: rgba(0,0,0, .2);
  }
  &.active {
    background: rgba(var(--main-color-primary), .2);
  }
  &.squared {
    border-radius: 8px;
    background: rgba(0,0,0, 0);
    position: relative;
    &:hover {
      background: rgba(0,0,0, .1);
    }
    &.active {
      svg {
        fill: rgb(var(--main-color-primary));
      }
      &:before {
        opacity: 1;
        pointer-events: all;
      }
    }
    &:before {
      border-radius: 100px;
      content: '';
      display: block;
      height: 3px;
      width: 100%;
      background: rgb(var(--main-color-primary));
      position: absolute;
      bottom: -8px;
      left: 0;
      right: 0;
      pointer-events: none;
      opacity: 0;
      transition: .3s all;
    }
  }
}
