<header class="header">
  <nav class="nav">
    <a [routerLink]="['/']">
      <svg viewBox="0 0 36 36" class="a8c37x1j ms05siws hwsy1cff b7h9ocf4" fill="url(#a" height="40" width="40">
        <defs><linearGradient x1="50%" x2="50%" y1="97.0782153%" y2="0%" id="a"><stop offset="0%" stop-color="#0062E0"></stop><stop offset="100%" stop-color="#19AFFF"></stop></linearGradient></defs>
        <path d="M15 35.8C6.5 34.3 0 26.9 0 18 0 8.1 8.1 0 18 0s18 8.1 18 18c0 8.9-6.5 16.3-15 17.8l-1-.8h-4l-1 .8z"></path>
        <path fill="#fff" class="p361ku9c" d="M25 23l.8-5H21v-3.5c0-1.4.5-2.5 2.7-2.5H26V7.4c-1.3-.2-2.7-.4-4-.4-4.1 0-7 2.5-7 7v4h-4.5v5H15v12.7c1 .2 2 .3 3 .3s2-.1 3-.3V23h4z"></path>
      </svg>
    </a>
    <app-search></app-search>
    <button class="nav-button squared" type="button" *ngIf="menuBookmarks | async" [routerLink]="router.url == '/bookmarks' ? ['..'] : ['/bookmarks']" routerLinkActive="active">
      NavBar
      <svg viewBox="0 0 28 28" height="28" width="28" fill="var(--main-color-1)">
        <path d="M23.5 4a1.5 1.5 0 110 3h-19a1.5 1.5 0 110-3h19zm0 18a1.5 1.5 0 110 3h-19a1.5 1.5 0 110-3h19zm0-9a1.5 1.5 0 110 3h-19a1.5 1.5 0 110-3h19z"/>
      </svg>
    </button>
    <div class="right">
      <button class="nav-button profile" type="button" *ngIf="desktopSize | async">
        <img src="./assets/2L-icon.jpg" alt="Lucas Ferreira Lima">
        Lucas
      </button>
      <button #createRef class="nav-button" type="button" (click)="create = !create" [class.active]="create">
        Create
        <i class="icon plus" [class.active]="create"></i>
      </button>
      <button class="nav-button" type="button">
        Messenger
        <svg viewBox="0 0 28 28" height="20" width="20" fill="var(--main-color-1)">
          <path d="M14 2.042c6.76 0 12 4.952 12 11.64s-5.24 11.64-12 11.64a13.091 13.091 0 01-3.474-.461.956.956 0 00-.641.047L7.5 25.959a.961.961 0 01-1.348-.849l-.065-2.134a.957.957 0 00-.322-.684A11.389 11.389 0 012 13.682c0-6.688 5.24-11.64 12-11.64zM6.794 17.086a.57.57 0 00.827.758l3.786-2.874a.722.722 0 01.868 0l2.8 2.1a1.8 1.8 0 002.6-.481l3.525-5.592a.57.57 0 00-.827-.758l-3.786 2.874a.722.722 0 01-.868 0l-2.8-2.1a1.8 1.8 0 00-2.6.481z"/>
        </svg>
      </button>
      <button #notificationsRef class="nav-button" type="button" (click)="notifications = !notifications" [class.active]="notifications">
        Notification
        <svg viewBox="0 0 28 28" height="20" width="20" fill="var(--main-color-1)">
          <path d="M7.847 23.488c1.36 0 3.596-.125 6.62-.682a3.72 3.72 0 01-3.487 2.441 3.718 3.718 0 01-3.155-1.759h.022zm17.076-7.758c.247 1.272-.645 2.397-2.653 3.346-1.1.519-3.546 1.507-7.586 2.293-3.116.605-5.399.744-6.836.744-.427 0-.78-.012-1.058-.028-2.216-.127-3.466-.837-3.713-2.109-.375-1.927.218-2.671 1.201-3.903l.259-.325c.663-.841.922-1.667.498-3.846-.949-4.88 1.249-8.215 6.029-9.149 4.782-.923 8.07 1.343 9.019 6.224.423 2.179.973 2.847 1.903 3.378v.001l.362.205c1.372.774 2.2 1.241 2.575 3.169z"/>
        </svg>
      </button>
      <button #accountsRef class="nav-button" type="button" (click)="accounts = !accounts" [class.active]="accounts">
        Account
        <i class="icon arrow" [class.active]="accounts"></i>
      </button>
    </div>
  </nav>
  <app-accounts [show]="accounts" #accountsRef></app-accounts>
  <app-create [show]="create" #createRef></app-create>
  <app-notifications [show]="notifications" #notificationsRef></app-notifications>
</header>
