<section class="create content-box" [class.active]="show">
  <ul class="list">
    <li class="item" [routerLink]="['/publish']">
      <div class="icon-content plus">
        <i class="icon publish"></i>
      </div>
      <div>
        <strong>Publicar</strong>
        <p>Compartilhe uma publicação no Feed de Notícias.</p>
      </div>
    </li>
    <li class="item" [routerLink]="['/story']">
      <div class="icon-content plus">
        <i class="icon story"></i>
      </div>
      <div>
        <strong>Story</strong>
        <p>Compartilhe uma foto ou escreva algo.</p>
      </div>
    </li>
    <li class="item" [routerLink]="['/room']">
      <div class="icon-content plus">
        <i class="icon room"></i>
      </div>
      <div>
        <strong>Sala</strong>
        <p>Converse por vídeo com qualquer pessoa, dentro ou fora do Facebook, sem limite de tempo.</p>
      </div>
    </li>
    <hr>
    <li class="item" [routerLink]="['/page']">
      <div class="icon-content plus">
        <i class="icon page"></i>
      </div>
      <div>
        <strong>Página</strong>
        <p>Conecte-se e compartilhe com clientes ou fãs.</p>
      </div>
    </li>
    <li class="item" [routerLink]="['/advertising']">
      <div class="icon-content plus">
        <i class="icon advertising"></i>
      </div>
      <div>
        <strong>Anúncio</strong>
        <p>Anuncie sua empresa, marca ou organização.</p>
      </div>
    </li>
    <li class="item" [routerLink]="['/group']">
      <div class="icon-content plus">
        <i class="icon group"></i>
      </div>
      <div>
        <strong>Grupo</strong>
        <p>Conecte-se com pessoas que compartilham seus interesses.</p>
      </div>
    </li>
    <li class="item" [routerLink]="['/event']">
      <div class="icon-content plus">
        <i class="icon event"></i>
      </div>
      <div>
        <strong>Evento</strong>
        <p>Reúna as pessoas com um evento público ou privado.</p>
      </div>
    </li>
    <li class="item" [routerLink]="['/marketplace']">
      <div class="icon-content plus">
        <i class="icon marketplace"></i>
      </div>
      <div>
        <strong>Classificado do Marketplace</strong>
        <p>Venda itens para as pessoas na sua comunidade.</p>
      </div>
    </li>
  </ul>
</section>
