.notifications {
  h1, h2,h3 { margin: 10px; }
  .list {
    p { font-size: 15px; }
    .photo {
      display: flex;
      height: 56px;
      min-width: 56px;
      width: 56px;
    }
    .date {
      font-size: 13px;
      margin-top: 5px;
    }
  }
}
