<section class="bookmarks">
  <ul class="list">
    <li class="item">
      <div class="icon-content photo">
        <img src="./assets/2L-icon.jpg" alt="Lucas Ferreira Lima">
      </div>
      Lucas Ferreira Lima
    </li>
    <li class="item">
      <div class="icon-content">
        <img src="./assets/covid-icon.png" alt="Covid">
      </div>
      COVID-19: Central de Informações
    </li>
    <li class="item">
      <div class="icon-content">
        <img src="./assets/friends-icon.png" alt="Amigos">
      </div>
      Amigos
    </li>
    <li class="item">
      <div class="icon-content">
        <img src="./assets/pages-icon.png" alt="Páginas">
      </div>
      Páginas
    </li>
    <li class="item">
      <div class="icon-content">
        <img src="./assets/remembers-icon.png" alt="Lembranças">
      </div>
      Lembranças
    </li>
    <li class="item">
      <div class="icon-content plus">
        <i class="icon arrow-small"></i>
      </div>
      Ver mais
    </li>
  </ul>
  <hr>
  <ul class="list">
    <li class="item">
      <div class="icon-content photo">
        <img src="./assets/2L-icon.jpg" alt="2L">
      </div>
      2L
    </li>
    <li class="item">
      <div class="icon-content photo">
        <img src="./assets/godfather-icon.jpg" alt="O Poderoso Chefão">
      </div>
      O Poderoso Chefão
    </li>
    <li class="item">
      <div class="icon-content photo">
        <img src="./assets/escobar-icon.jpg" alt="Sobrevivendo a Pablo Escobar">
      </div>
      Sobrevivendo a Pablo Escobar
    </li>
    <li class="item">
      <div class="icon-content photo">
        <img src="./assets/pyrimed-icon.jpg" alt="La Malédiction de la Pyramide">
      </div>
      La Malédiction de la Pyramide
    </li>
    <li class="item">
      <div class="icon-content photo">
        <img src="./assets/alcapone-icon.jpg" alt="Al Capone">
      </div>
      Al Capone
    </li>
    <li class="item">
      <div class="icon-content plus">
        <i class="icon arrow-small"></i>
      </div>
      Ver mais
    </li>
  </ul>
</section>
<footer class="footer">
  Privacidade  · Termos  · Publicidade  · Escolhas para anúncios   · Cookies  ·  Mais  · Angularbook © 2020
</footer>
