@import '_mixins';

.bookmarks {
  height: calc(100vh - 65px);
  padding-top: 5px;
  hr {
    margin: 0 .5em;
    opacity: .5;
  }
  app-footer {
    position: absolute;
    bottom: 0;
    @include break('max-width: 850px') {
      position: relative;
    }
  }
}
