<section>
  <ul>
    <li>Lucas Ferreira Lima</li>
    <li>COVID-19: Central de Informações</li>
    <li>Amigos</li>
    <li>Páginas</li>
    <li>Lembranças</li>
    <li>Ver mais</li>
  </ul>
  <hr>
  <ul>
    <li>2L</li>
    <li>O Poderoso Chefão</li>
    <li>Sobrevivendo a Pablo Escobar</li>
    <li>La Malédiction de la Pyramide</li>
    <li>Al Capone</li>
    <li>Ver mais</li>
  </ul>
</section>
<footer>
  Privacidade  · Termos  · Publicidade  · Escolhas para anúncios   · Cookies  ·  Mais  · Facebook © 2020
</footer>
