.list {
  list-style: none;
  margin: 0;
  padding: 1em .5em;
  .item {
    align-items: center;
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    font-size: 15px;
    font-weight: 600;
    padding: .5em;
    transition: .3s background;
    &:hover { background: rgba(0,0,0,.05); }
  }
}
