:root {
  --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
  --filter-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
  --main-color-1: #1c1e21;
  --main-color-2: 255, 255, 255;
  --main-color-3: 240, 242, 245;
  --main-color-4: #dddfe2;
  --main-color-5: #737373;
  --main-color-danger: #ff4a4a;
  --main-color-primary: 24, 119, 242;
  --main-color-success: #42b72a;
}
