:root {
  --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
  --main-color-1: #1c1e21;
  --main-color-2: #fff;
  --main-color-3: #f0f2f5;
  --main-color-4: #dddfe2;
  --main-color-5: #737373;
  --main-color-danger: #ff4a4a;
  --main-color-primary: 24, 119, 242;
  --main-color-success: #42b72a;
}
