.loading {
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0,0,1,1);
  animation: 2s loading-element infinite;
  transform-origin: 50% 50%;
  .circle {
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.33,0,.67,1);
    animation: 2s loading-element-circle infinite;
    transform-origin: 50% 50%;
  }
}

@keyframes loading-element {
  0%   { transform: rotate(-90deg); }
  25%  { transform: rotate(90deg);  }
  50%  { transform: rotate(270deg); }
  50%  { transform: rotate(450deg); }
  100% { transform: rotate(990deg); }
}

@keyframes loading-element-circle {
  0% {
    stroke-dashoffset: 11.3;
    transform: rotate(-90deg);
  }
  25% {
    stroke-dashoffset: 50.9;
    transform: rotate(162deg);
  }
  50% {
    stroke-dashoffset: 25.4;
    transform: rotate(72deg);
  }
  50% {
    stroke-dashoffset: 50.9;
    transform: rotate(162deg);
  }
  100% {
    stroke-dashoffset: 11.3;
    transform: rotate(-90deg);
  }
}

