<section class="messenger content-box" [class.active]="show">
  <h2>Messenger</h2>
  <ul class="list">
    <li class="item">
      <div class="icon-content photo">
        <img src="./assets/godfather-icon.jpg" alt="O Poderoso Chefão">
      </div>
      O Poderoso Chefão
    </li>
    <li class="item">
      <div class="icon-content photo">
        <img src="./assets/escobar-icon.jpg" alt="Sobrevivendo a Pablo Escobar">
      </div>
      Sobrevivendo a Pablo Escobar
    </li>
    <li class="item">
      <div class="icon-content photo">
        <img src="./assets/pyrimed-icon.jpg" alt="La Malédiction de la Pyramide">
      </div>
      La Malédiction de la Pyramide
    </li>
    <li class="item">
      <div class="icon-content photo">
        <img src="./assets/alcapone-icon.jpg" alt="Al Capone">
      </div>
      Al Capone
    </li>
  </ul>
</section>
