@import '_mixins';

.notfound {
  background: rgba(var(--main-color-3), .8);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  img {
    animation: 1s notfoundMove infinite alternate;
    margin: 2em 0;
    filter: drop-shadow(0 0 5px #fff)
  }
  @include break('max-width: 450px') {
    padding: 0 1em;
    img {
      width: 82px;
      height: 65px;
    }
  }
  @include break('max-width: 300px') {
    .btn {
      font-size: 14px;
      line-height: 20px;
      padding: 10px;
    }
  }
}

@keyframes notfoundMove {
  0%   { transform: rotate(0);     }
  50%  { transform: rotate(5deg);  }
  100% { transform: rotate(-5deg); }
}

