.notfound {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  img { animation: 1s notfoundMove infinite alternate; }
}

@keyframes notfoundMove {
  0%   { transform: rotate(0);     }
  50%  { transform: rotate(5deg);  }
  100% { transform: rotate(-5deg); }
}

