@import '_mixins';

.search-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 60px;
  left: 0;
  padding: 6px 16px 0;
  position: fixed;
  top: 0;
  transition: 0s all;
  &.active {
    background: rgb(var(--main-color-2));
    border-radius: 0 0 6px 6px;
    box-shadow: 0 12px 12px rgba(#000, .15), inset 0 0 0 0 rgba(#fff, .7);
    min-height: 90px;
    min-width: 352px;
    top: 0;
    transition: .3s height, .3s padding, .3s box-shadow;
    z-index: 99;
  }
  & > div {
    display: flex;
    justify-content: center;
  }
}

.search-content {
  display: flex;
  font-size: .9375rem;
  justify-content: center;
  width: 100%;
}

.search-back,
.search-input {
  background: transparent;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  font-size: 0;
  height: 40px;
  min-width: 40px;
  padding: 0;
  position: relative;
  &:hover { background: rgba(0,0,0, .2); }
  &.active { background: rgba(var(--main-color-primary), .2); }
}

.search-back {
  min-width: 0;
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  &.show {
    left: -140px;
    opacity: 1;
    pointer-events: all;
    position: relative;
    transition: .3s all;
    width: 40px;
  }
}

.search-input {
  background: rgba(0,0,0, .1);
  margin-left: 8px;
  position: absolute;
  left: 55px;
  .icon {
    left: 12px;
    position: absolute;
    top: 12px;
  }
  input {
    background: transparent;
    border-radius: 100px;
    font-size: .9375rem;
    min-width: 220px;
    padding: 11px 15px 11px 35px;
    @include break('max-width: 1100px') {
      font-size: 0;
      min-width: auto;
      opacity: 0;
      padding: 0;
    }
    &.active {
      min-width: calc(220px + 20px);
      padding: 11px 15px;
    }
    &.active,
    &:focus {
      font-size: .9375rem;
      opacity: 1;
    }
  }
}
