<section class="post">
  <div class="header">
    <img class="profile-photo" src="./assets/2L-icon.jpg" alt="Lucas Ferreira Lima" width="40" height="40">
    <button class="post-button">No que você está pensando, Lucas?</button>
  </div>
  <hr>
  <ul class="post-actions">
    <li>
      <button class="item">Video ao vivo</button>
    </li>
    <li>
      <button class="item">Foto/video</button>
    </li>
    <li>
      <button class="item">Sentimento/atividade</button>
    </li>
  </ul>
</section>
