<section class="post">
  <div class="header">
    <img class="profile-photo" src="./assets/2L-icon.jpg" alt="Lucas Ferreira Lima" width="40" height="40" [routerLink]="['/lucasferreiralimax']">
    <button class="post-button">No que você está pensando, Lucas?</button>
  </div>
  <hr>
  <ul class="post-actions">
    <li>
      <button class="item">
        <i class="icon live"></i>
        <span>Video ao vivo</span>
      </button>
    </li>
    <li>
      <button class="item">
        <i class="icon midia"></i>
        <span>Foto/video</span>
      </button>
    </li>
    <li>
      <button class="item">
        <i class="icon happy"></i>
        <span>Sentimento/atividade</span>
      </button>
    </li>
  </ul>
</section>
