.dark-mode {
  align-items: center;
  display: flex;
  cursor: pointer;
  outline: none;
  &:focus {
    svg {
      filter: drop-shadow(0 0 5px rgb(var(--main-color-primary)));
      &.active {
        filter: drop-shadow(0 0 5px #fff);
      }
    }
    .dark-mode-button {
      box-shadow: 0 0 5px rgb(var(--main-color-primary));
      &.active {
        box-shadow: 0 0 5px #fff;
      }
    }
  }
  p { margin-right: 1em; }
}

.dark-mode-button {
  background: var(--main-color-5);
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  display: block;
  height: 30px;
  outline: none;
  position: relative;
  text-indent: -9999px;
  user-select: none;
  width: 50px;
  &:active:after { width: 33px; }
  &:after {
    background: #fff;
    border-radius: 90px;
    content: '';
    height: 20px;
    left: 5px;
    position: absolute;
    top: 5px;
    transition: 0.3s;
    width: 20px;
  }
  &.active {
    background: rgb(var(--main-color-primary));
    &:after {
      left: calc(100% - 5px);
      transform: translateX(-100%);
    }
  }
}
