/* You can add global styles to this file, and also import other style files */

:root {
  --main-color-1: #1c1e21;
  --main-color-2: #fff;
  --main-color-3: #f0f2f5;
  --main-color-4: #dddfe2;
  --main-color-5: #737373;
  --main-color-primary: #1877f2;
  --main-color-success: #42b72a;
}


body {
  color: var(--main-color-1);
  background: var(--main-color-2);
  font-family: Arial;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.default {
    color: var(--main-color-1);
    font-weight: bold;
  }
  &.primary {
    color: var(--main-color-primary)
  }
}

.btn {
  border: 0;
  border-radius: 6px;
  padding: 0 16px;
  font-size: 20px;
  line-height: 48px;
  color: #fff;
  background: var(--main-color-1);
  cursor: pointer;
  &.primary {
    background: var(--main-color-primary);
  }
  &.success {
    background: var(--main-color-success);
  }
  &.full {
    width: 100%;
  }
}

input {
  border-radius: 6px;
  font-size: 17px;
  padding: 14px 16px;
  border: 1px solid var(--main-color-4);
  background-color: var(--main-color-2);
  color: var(--main-color-1);
}

.icon {
  background-size: auto;
  background-repeat: no-repeat;
  display: inline-block;
  height: 20px;
  width: 20px;
}

.arrow {
  background-image: url("assets/sprite_1.png");
  background-position: 0 -201px;
}

.plus {
  background-image: url("assets/sprite_2.png");
  background-position: 0 -591px;
}

.search {
  background-image: url("assets/sprite_2.png");
  width: 16px;
  height: 16px;
  background-position: 0 -819px;
}
