<section class="feed-list" *ngIf="!feed">
  <article class="post">
    <h2>Não há mais publicações</h2>
    <p>Adicione mais amigos para ver mais publicações no seu Feed de Notícias.</p>
    <button class="btn primary" type="button">Encontrar amigos</button>
  </article>
</section>

<section class="feed-list" *ngIf="feed">
  <article class="feed-post" *ngFor="let post of feed">
    <div class="feed-container">
      <div class="feed-header">
        <img class="feed-photo" [routerLink]="['/perfil', user.username]" [src]="post.photo" [alt]="post.name" width="40" height="40">
        <h1 [routerLink]="['perfil', user.username]">{{ post.name }}</h1>
        <p class="feed-date" [routerLink]="['/perfil', user.username]">{{ post.data }}</p>
      </div>
      <div class="feed-content" [innerHTML]="post.comment"></div>
      <app-feed-actions></app-feed-actions>
      <div class="feed-comment">
        <div class="feed-comment-input">
          <img src="./assets/2L-icon-60.jpg" alt="Lucas">
          <input type="text" placeholder="Escreva um comentário público…">
        </div>
      </div>
    </div>
  </article>
</section>
