.feed-post, .post {
  background: rgb(var(--main-color-2));
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-sizing: border-box;
  margin: 0 auto 20px;
  max-width: 680px;
  padding: 15px;
  text-align: center;
  width: calc(100% - 20px);
  h2, p { margin: 0; }
  .btn {
    font-size: .9375rem;
    font-weight: 600;
    height: 36px;
    line-height: 16px;
    margin-top: 15px;
  }
}

.feed-container {
  display: flex;
  flex-direction: column;
}

.feed-photo {
  border-radius: 20px;
  float: left;
}

.feed-header {
  position: relative;
  h1, .feed-date {
    left: 50px;
    margin: 0;
    position: absolute;
    top: 0;
    text-align: left;
    box-sizing: border-box;
    &:hover { text-decoration: underline; }
    @media screen and (max-width: 450px) {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      width: calc(100% - 50px);
    }
  }
  .feed-date {
    font-size: 13px;
    top: 20px;
  }
  h1, .feed-photo, .feed-date {
    cursor: pointer;
    outline: none;
  }
}

.feed-content {
  padding-top: 15px;
  text-align: left;
  word-break: break-word;
}

.feed-comment-input {
  display: flex;
  margin-top: 10px;
  img {
    border-radius: 100px;
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }
  input {
    background: rgba(0,0,0,.1);
    border-radius: 20px;
    border: 0;
    color: var(--main-color);
    cursor: pointer;
    font-size: 14px;
    padding: 9px;
    text-align: left;
    width: 100%;
    outline: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
