.presentation {
  background: rgb(var(--main-color-2));
  border-radius: max(0px, min(8px, ((100vw - 4px) - 100%) * 9999)) / 8px;
  border: 1px solid rgba(0,0,0,.2);
  box-shadow: 0 1px 2px rgba(0,0,0,.2);
  box-sizing: border-box;
  margin: 0 auto 20px;
  padding: 15px;
  width: 100%;
  h1 { margin: 0; }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  li {
    font-size: 15px;
    word-break: break-word;
    height: 35px;
    display: flex;
    align-items: flex-end;
  }
  a { color: rgb(var(--main-color-primary)); }
}

.hobbies {
  display: flex;
  margin-top: 10px !important;
  li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    margin-left: 10px;
    border-radius: 100px;
    border: 1px solid rgba(0,0,0,.2);
    transition: .3s all;
    box-shadow: inset 0 1px #fff;
    &:first-of-type { margin-left: 0; }
    &:hover { background: rgba(0,0,0,.05)}
  }
}
