<section class="presentation">
  <h1>Apresentação</h1>
  <ul>
    <li>Trabalha na empresa Revolução Rimada</li>
    <li>Solteiro</li>
    <li>Entrou em Maio de 2012</li>
    <li><a href="https://github.com/lucasferreiralimax" target="_blank">lucasferreiralimax</a></li>
    <li><a href="https://criar-curriculo.web.app" target="_blank">criar-curriculo.web.app</a></li>
    <li><a href="https://lucasferreiralimax-dev.web.app" target="_blank">lucasferreiralimax-dev.web.app</a></li>
  </ul>
  <ul class="hobbies">
    <li>🎨 Arte</li>
    <li>📝 Poesia</li>
    <li>📖 Leitura</li>
  </ul>
</section>
